<div class='well'>
  <h3>Total = <%= pluralize(count, 'Step') %></h3>
</div>
<div class='spacer'></div>

<div class='well'>
  <%= render 'pick_area', number: 1 %>
  <%= render 'pick_area', number: 2 %>
  <%= render 'pick_area', number: 3 %>
  <div class='spacer'></div>
  
  <%= render 'pick_area', number: 4 %>
  <%= render 'pick_area', number: 5 %>
  <%= render 'pick_area', number: 6 %>
  <div class='spacer'></div>

  <%= render 'pick_area', number: 7 %>
  <%= render 'pick_area', number: 8 %>
  <%= render 'pick_area', number: 9 %>
  <div class='spacer'></div>
</div>