
<div class='well'>
  <div class='row'>
    
    <%= get_symbol(1) %>
    <%= get_symbol(2) %>
    <%= get_symbol(3) %>
    
  </div>

  <div class='row'>
  
    <%= get_symbol(4) %>
    <%= get_symbol(5) %>
    <%= get_symbol(6) %>
  
  </div>

  <div class='row'>
  
    <%= get_symbol(7) %>
    <%= get_symbol(8) %>
    <%= get_symbol(9) %>
  
  </div>

</div>