<%= render 'game_board', count: @board.steps %>
<% save_label = @board.game_is_over? !=0 ? 'Save Record' : 'Give Up' %>
<div>
  <h4>
    <% if logged_in? %>
      <%= form_tag game_records_path do %>
        <%= hidden_field_tag :steps, @board.steps%>
        <%= hidden_field_tag :status, @message %>
         
        <%= submit_tag save_label, class: 'btn btn-danger' %>
        <%= link_to 'Keep Attack', game_new_path, class: 'btn btn-primary' if @message == 'TIE' %> 
      <% end %>

      
    <% else %>
      <%= link_to 'Login to Continue', login_path, class: 'btn btn-primary' %>
      <%= link_to 'Register', new_user_path, class: 'btn btn-danger' %>
    <% end %>
    
  </h4>
</div>