
<div class='well'>
  <div class='row'>
    
    <%= link_to '1', game_create_path(id: '1'), method: :post %> 
    
    
    
    <%= link_to '2', game_create_path(id: '2'), method: :post %> 
    


    <%= link_to '3', game_create_path(id: '3'), method: :post %> 
  
  </div>

  <div class='row'>
  
    <%= link_to '4', game_create_path(id: '4'), method: :post %> 
    <%= link_to '5', game_create_path(id: '5'), method: :post %> 
    <%= link_to '6', game_create_path(id: '6'), method: :post %> 
  
  </div>

  <div class='row'>
  
    <%= link_to '7', game_create_path(id: '7'), method: :post %> 
    <%= link_to '8', game_create_path(id: '8'), method: :post %> 
    <%= link_to '9', game_create_path(id: '9'), method: :post %> 
  
  </div>

</div>