<div class="masthead clearfix">
  <div class="inner">

    <h3 class="masthead-brand">
      <%= link_to root_path do %>
        Titan's Tic Tac Toe
      <% end %>
    </h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><%= link_to 'Hero Board', game_records_path %></li>
        <% if logged_in? %>
          <li> <%= link_to 'New Game', game_new_path %></li>  
          <li>
            <%= link_to user_path(current_user) do %>
              <%= current_user.username %>
            <% end %>
          </li>
          <li><%= link_to 'Logout', logout_path, method: :delete %> </li>
            
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Register', new_user_path %></li>
        <% end %>
        
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
</div>