<div class="masthead clearfix">
  <div class="inner">

    <h3 class="masthead-brand">
      <%= link_to root_path do %>
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        Titan's Tic Tac Toe
      <% end %>
    </h3>
 
    <nav>
      <ul class="nav masthead-nav">
        <li>
          <%= link_to game_records_path do %>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Ladder
          <% end %>
        </li>
        <% if logged_in? %>
          <li> 
            <%= link_to game_new_path do %>
              <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
              Play
            <% end %>
          </li>  
          <li>
            <%= link_to user_path(current_user) do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <%= current_user.username %>
            <% end %>
          </li>
        <li>
          <%= link_to  logout_path, method: :delete do %> 
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            Logout
          <% end %>
        </li>
            
        <% else %>
          <li>
            <%= link_to login_path do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              Login
            <% end %>
          </li>
          <li>
            <%= link_to new_user_path do %>
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              Register
            <% end %>
          </li>
        <% end %>
        
        
      </ul>
    </nav>
  </div>
</div>